#Roxygen
export(get.object.cached)
export(list.objects)
export(load.all.cached.objects)
export(load.object)
export(object.cached)
export(save.all.objects)
export(save.object)
export(uncache.object)

#Lib dependencies
import(parallel)
import(assertthat)
